.countries {
  display: flex;
}

/* Add your own CSS code below */
.countries--first .country--brazil {
  order: 2;
}

.countries--second .country--brazil {
  order: 5;
}

.countries--second .country--uganda {
  order: 5;
}

.countries--third {
  justify-content: flex-end;
  flex-direction: row-reverse;
}
